@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&family=Open+Sans:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #262340;
}

input, select, option {
    font-family: 'JetBrains Mono', monospace;
}